* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}


/* Vị trí */


/* kích thước
mau sắc
kiểu dáng */

.text-white {
    color: #fff !important;
}

#main {}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}

#nav {}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav .subnav {
    min-width: 160px;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#nav,
.subnav {
    list-style: none;
}

#nav li a {
    /* color: #fff; */
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav {
    display: inline-block;
}

#nav .subnav li {
    display: block;
}

#nav>li:hover>a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#content {}

#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/slider/slider1.jpeg) top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #ccc;
    /* 
       left: 50%;        ///This is a way which can fix align center
       transform: translateX(-50%);
    */
    text-align: center;
    width: 100%;
    /* 
     right: 0;    /// This is another way to fix align center
     left:0;
*/
}

#slider .text-heading {
    font-size: 24px;
    padding: 16px;
}

#slider .text-decription {
    font-size: 15px;
}

#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
    padding-bottom: 64px;
}

#content .section-heading,
#content .section-sub-heading {
    text-align: center;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-style: italic;
    font-size: 15px;
    margin-top: 25px;
    color: rgba(0, 0, 0, 0.6);
}

#content .about-text {
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
    padding-bottom: 15px;
}

.about-text {
    padding-left: calc(100%/15);
    padding-right: calc(100%/15);
}

#content .member-item {
    float: left;
    padding-top: 22px;
    width: 33.333333333333333333333333333333%;
    text-align: center;
    /* width:calc(100%/3) */
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 17px;
    width: 154px;
    border-radius: 4px;
}

#content .members-list {
    overflow: hidden;
    margin-bottom: 8px;
}


/* tour section */

#content .tour-section {
    width: 100%;
    height: 803px;
    background-color: #000;
    padding-bottom: 30px;
    padding-top: 35px;
    margin-bottom: 40px;
    margin-left: px;
    margin-right: 77px;
}

.ticket-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-list {
    margin-left: 40px;
    margin-right: 50px;
    margin-top: 40px;
    background: #fff;
    color: black;
    list-style: none;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 20px;
}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}

.place-list .place-item {
    font-family: Arial, Helvetica, sans-serif;
}

.place-image {
    width: 100%;
    display: block;
}

.place-image:hover {
    cursor: pointer;
    opacity: 0.6;
}

.places-list {
    margin-top: 32px;
    margin-bottom: 30px;
    margin-left: 32px;
    margin-right: 42px;
}

.place-item {
    padding: 0 8px;
    float: left;
    width: 33.3333333333333333333333333333333333333333333%;
    background-color: black;
    height: 500px;
    padding-bottom: 10px;
}

.place-body {
    background-color: #fff;
    color: #000;
    font-size: 15px;
    font-weight: 50;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.place-heading {
    font-size: 15px;
    font-weight: 550;
    padding-top: 10px;
    padding-left: 10px;
}

.place-time {
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.place-desc {
    padding-left: 10px;
    padding-bottom: 5px;
    line-height: 1.4;
    padding-bottom: 10px;
}

.place-buy-btn {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 8px;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-bottom: 20px;
    width: calc(100%/1.1);
    height: 170px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10x;
    color: #fff;
    background-color: #333;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 5px;
}

.place-buy-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.contact {
    margin-top: 40px;
    padding: 50px;
    margin-left: 25px;
}

.contact-sub {
    margin-top: 25px;
    font-family: sans-serif;
    opacity: 0.8;
}

.contact-title .contact-sub p {
    color: #000;
    font-size: 20px;
}

.contact-title {
    float: left;
    font-family: 'Times New Roman', Times, serif;
}

.enter {
    width: 100px;
    height: 30px;
    margin-left: 10px;
}

.input-name {
    width: 600px;
    height: 30px;
    margin-bottom: 10px;
}

.input-email {
    width: 600px;
    height: 30px;
    margin-bottom: 80px;
}

.enter:hover {
    cursor: pointer;
    opacity: 0.5;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

.NewYork img {
    max-width: 880px;
}

#footer .social-list a {
    color: rgba(0, 0, 0, 0.555);
    font-size: 24px;
    text-decoration: none;
}

.social-list a :hover {
    opacity: 0.3;
}

.copyright {
    font-family: Arial, Helvetica, sans-serif;
}